* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url('/quiz-app/assets/marvell-CI28hSOu.jpg');
    background-size: cover;
    background-position: center;
    font-family: Poppins, sans-serif;
}

.container {
    width: 640px;
    margin: 140px auto 0;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;

    /* Gradient fallback over Marvel background */
    background-image: linear-gradient(#e1fb6aef, #b724c1f1);
    color: #262626;
}

.container hr {
    height: 2px;
    border: none;
    background: #707070;
}

.container h2 {
    font-size: 27px;
    font-weight: 500;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #c117eb; /* Choose either #c117eb or #686868 */
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(209, 231, 136); /* gradient could override this */
    transition: 0.3s;
}

.container ul li.correct {
    background: #0ac67b;
    border-color: #04fb21;
}

.container ul li.wrong {
    background: #fa6705;
    border-color: #f40202;
}

.container button {
    margin: auto;
    width: 250px;
    height: 65px;
    background: #463185; /* could use #553f9a if preferred */
    color: rgba(177, 24, 185, 0.923); /* #fff alternative */
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.container .index {
    margin: auto;
    font-size: 18px;
}
