/*
*{
  margin : 0 ;
  padding: 0;
}
body{
height: 100vh;
background-image: linear-gradient(#D8C7FF,#19006C);
font-family: 'poppins';
}
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url('./assets/marvell.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Poppins', sans-serif;
}

main {
  flex: 1;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}


